<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div>Hello, user</div>
    <a href="/users_select">Main page</a>
</body>
</html>
